* text=auto eol=lf
*.sh    text eol=lf
*.ini   text eol=lf
*.tsv   text eol=lf
*.json  text eol=lf
*.toml  text eol=lf

# A Windows batch file is read by cmd.exe, which expects CRLF.
*.bat	text eol=crlf
